.bg-line {
    background: linear-gradient(165deg, #f7f5fb 50%, #fff 50%);
    min-height: calc(100vh - 138.4px);
}

.card {
    transition: 0.5s linear;
}

.card:hover {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}